In [1]:
import requests
import csv
import pandas as pd
from bs4 import BeautifulSoup

with open('wuzzaf jops.csv' , 'w' , newline='' , encoding='UTF-8')as fd:
    fieldnames = ['jop name' , 'laocation' , 'company name' , 'experience' , 'experience year' , 'skills']
    writer = csv.DictWriter(fd , fieldnames = fieldnames)
    writer.writeheader()
    for page in range (48):  
        url = f'https://wuzzuf.net/search/jobs/?a=hpb%7Cspbg&q=Data%20Scince&start={page}'
        response = requests.get(url)
        soup = BeautifulSoup(response.content , 'lxml')
        jops_title = soup.find_all('div' , {'class' : 'css-pkv5jc'})
        
        for jopp_title in jops_title:
            name_of_jop = jopp_title.find('h2' , {'class' : 'css-m604qf'}).text

            location = jopp_title.find('span' , {'class' : 'css-5wys0k'}).text

            company_name = jopp_title.find('a' , {'class' : 'css-17s97q8'}).text.strip('- ')

            exp = jopp_title.find('div' , {'class' : 'css-y4udm8'}).find('a' , {'class' : 'css-o171kl'}).text

            if exp != 'Not specified':
                exp_year = jopp_title.find('div' , {'class' : 'css-y4udm8'}).find('a' , {'class' : 'css-o171kl'}).find_next().text[1:].strip()
            else :
                exp_year = 'None'

            listo = []
            skills = jopp_title.find('div' , {'class' : 'css-y4udm8'}).find('a' , {'class' : 'css-o171kl'}).find_next().find_next_siblings()
            for skill in skills:
                listo.append(''.join(skill.text.split('.css-5x9pm1{-webkit-text-decoration:none;text-decoration:none;color:inherit;max-width:calc(100vw / 2 - 32px);white-space:nowrap;overflow:hidden;text-overflow:ellipsis;display:-webkit-inline-box;display:-webkit-inline-flex;display:-ms-inline-flexbox;display:inline-flex;}')))
            writer.writerow({"jop name" : name_of_jop , 'laocation' : location , 'company name' : company_name , 'experience' : exp , 'experience year' : exp_year , 'skills' : listo})

In [2]:
data = pd.read_csv("wuzzaf jops.csv")
data

,jop name,laocation,company name,experience,experience year,skills
0,Summer Data Science Internship,"New Cairo, Cairo, Egypt",QARA,Entry Level,0 - 1 Yrs of Exp,"[' · IT/Software Development', '', 'Data Scien..."
1,Data Science Intern,"Dubai, United Arab Emirates",Merck Sharp & Dohme Corp,Not specified,None,"[' · IT/Software Development', ' · Engineering..."
2,Product Owner (Data Science & Machine Learning...,"Dubai, United Arab Emirates",Callsign,Not specified,None,"[' · Project/Program Management', ' · Engineer..."
3,Senior Data Scientist - Hybrid,"Sheikh Zayed, Giza, Egypt",Seoudi Supermarket,Experienced,3 - 5 Yrs of Exp,"[' · IT/Software Development', ' · Analyst/Res..."
4,Senior Data Analyst,"Maadi, Cairo, Egypt",Cilantro,Experienced,4 - 6 Yrs of Exp,"[' · IT/Software Development', ' · Analyst/Res..."
...,...,...,...,...,...,...
715,Application Support Specialist,"Giza, Giza, Egypt",Al Ahly Medical Company,Entry Level,1 - 2 Yrs of Exp,"[' · Customer Service/Support', ' · IT/Softwar..."
716,System Administrator,"Zamalek, Cairo, Egypt",PICO,Experienced,3 - 4 Yrs of Exp,"[' · IT/Software Development', ' · Information..."
717,Senior Integration Engineer,"Cairo, Egypt",Confidential,Experienced,5 - 10 Yrs of Exp,"[' · Engineering - Telecom/Technology', ' · En..."
718,Quality Control Chemist,"Belbes, Sharqia, Egypt",TechnoBit Group,Experienced,2 - 5 Yrs of Exp,"[' · R&D/Science', ' · Manufacturing/Productio..."
719,Full Stack Web Developer,"Alexandria, Egypt",Enegix,Experienced,2+ Yrs of Exp,"[' · Creative/Design/Art', ' · IT/Software Dev..."